html, body {
    margin: 20px;
}

img,
embed,
object,
video {
  max-width: 100%;
}

.player {
  float: left;
  width: 45%;
}

.cage {
  margin: 2em 1em;
  width: 100%;
}

footer {
  width: 100%;
  display: block;
  clear: both;
  border: 1px solid black;
  padding: 1em;
}